# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env*/
.venv/
pip-wheel-metadata/

# ======================
# Pytest / coverage
# ======================
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
nosetests.xml
test-results.xml

# ======================
# Jupyter / notebooks
# ======================
.ipynb_checkpoints/

# ======================
# Build / dist
# ======================
build/
dist/
*.egg-info/
.eggs/

# ======================
# Logs
# ======================
*.log

# ======================
# OS files
# ======================
# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Linux
*~

# ======================
# IDEs / Editors
# ======================
# VS Code
.vscode/

# PyCharm / IntelliJ
.idea/

# ======================
# Git
# ======================
*.orig
